{% extends "admins/admin_base.html" %}
{% load static %}

{% block body %}
<main class="pt-20 pb-32">
    <div class="w-full max-w-3xl mx-auto">
        <div class="flex items-center justify-between mb-6">
            <h1 class="text-2xl font-bold">Submitted Forms</h1>
        </div>
        <div class="grid gap-4">
            <h2>Procurement Forms</h2>
            {% include "components/procurement_form_chat.html" %}

            <h2>FX Forms</h2>
            {% include "components/fx_form_chat.html" %}
            
        </div>
    </div>
</main>


<script>
    const currentUserEmail = "{{ request.user.email }}";
    const isUserStaff = "{{ request.user.is_staff }}"
    const csrfToken = "{{ csrf_token }}";
    const staticUrl = "{% static '' %}";
</script>
<script src="{% static 'js/chat.js' %}" defer></script>

{% endblock body %}