{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
<div class="flex gap-x-5 md:block h-[160px] md:h-auto w-[95%] max-w-[658px] mx-auto font-be-vietnam">
    {% if post.image %}
        <!-- {% image post.image class="md:w-full h-full md:h-[600px] rounded-[10px] object-cover" fill-160x100 %} -->
        <img src="{{post.image.file.url}}" class="md:w-full h-full md:h-[600px] rounded-[10px] object-cover" alt="">
    {% endif %}
    <div href="{% pageurl post %}" class="block">
        <h4 class="mt-0 md:mt-3 text-base md:text-3xl font-medium leading-none hover:text-primary">
            {{ post.title }}
        </h4>
        <p class="text-[11px] md:text-sm mt-2 md:mt-1 hover:text-primary">
            {{ post.intro }}
        </p>
        <div class="flex justify-between items-end mt-2 mb-3 md:mt-4 md:mb-5">
            <a class="block text-[10px] text-primary-dark">read more..</a>
            <p class="text-[9px] md:hidden">September 20, 2024</p>
        </div>

        <div class="flex justify-between items-center">
            <p class="text-xs hidden md:block capitalize"> {{ post.date_created }}</p>
            <div class="flex gap-x-3">
                <span class="flex gap-x-[7px] items-center text-[8px] md:text-xs">
                    <img class="w-4 md:w-[24px]" src="{% static 'assets/icons/avatar.svg' %}" alt="">
                    {{ post.owner.username }}
                </span>
                <span class="flex gap-x-[7px] items-center text-[8px] md:text-xs">
                    <img class="w-4 md:w-[24px]" src="{% static 'assets/icons/folder.svg' %}" alt="">
                    Category
                </span>
            </div>
        </div>
    </div>
</div>