{% extends "_base.html" %}

{% block head %}
<title>Login | Boren Import</title>
{% endblock %}

{% block body %}

<main class="pt-20 pb-32 bg-[url('/static/assets/register-login-bg.jpg')] ">
    <div class="w-11/12 max-w-[728px] pt-20 md:pt-24 px-6 md:px-[91px] rounded-3xl mx-auto bg-white ">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <legend class="font-semibold text-4xl md:text-[40px] text-custom-gray-3 mb-10 md:mb-16">Welcome Back!</legend>
            <div>
                <div class="mb-8">
                    <label class="inline-block text-lg text-custom-gray-3 font-semibold mb-3" for="">Email or Phone Number<span class="text-[#F50707]">*</span></label>
                    <input class="form-input" type="email" placeholder="Enter Email Address or Phone Number">
                </div>

                <div class="mb-8">
                    <label class="inline-block text-lg text-custom-gray-3 font-semibold mb-3" for="">Password <span class="text-[#F50707]">*</span></label>
                    <input class="form-input" type="password" placeholder="Enter Password">
                </div>

                <div class="mb-4">
                    <button type="submit" class="block mx-auto text-white rounded-[7px] bg-primary hover:bg-primary-dark active:ring-4 w-[300px] max-w-full py-3">Log In</button>
                </div>
            <!-- {% for field in form %}
            <div class="fieldWrapper my-3">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %} -->
            <p class="fw-bold text-center">Forgot password? <a href="{% url 'password_reset' %}" class="text-decoration-none"> reset password</a></p>
            <!-- <input class="btn btn-primary" type="submit" value="Submit"> -->
        </form>
    </div>

</main>

{% endblock %}