{% extends "_base.html" %}
{% load static %}
{% load custom_filters %}

{% block head %}
  <title>Profile Dashboard | Boren Import</title>
{% endblock head %}

{% block body %}

  <section class="bg-center bg-no-repeat bg-cover h-[250px] flex justify-center items-center"
    style="background-image: linear-gradient(rgba(3, 19, 192, 0.56),rgba(3, 19, 192, 0.56)),url({% static 'assets/about-us-header.jpg' %})">
    <div class="container max-w-screen-xl px-2 mx-auto text-white ">
      <h1 class="text-center text-3xl md:text-[45px] leading-[45px] font-extrabold">Dashboard </h1>
    </div>
  </section>

<main class="pt-20 pb-32 px-4">
    <div class="w-full max-w-3xl mx-auto">
        <div class="flex items-center justify-between mb-6">
            <h1 class="text-2xl font-bold">Your Submitted Forms</h1>
        </div>
        <div class="grid gap-4">
            <h2>Your Procurements</h2>

            {% if user_procurements|length == 0 %}
                <div class="text-center">
                    <p class="">you haven't make any precurement yet</p>
                    <a href="{% url "procurement_form" %}" class="btn-small bg-primary w-fit">make precurement</a>
                </div>
            {% endif %}

            {% include "components/procurement_form_chat.html" %}

            
        </div>

        <div class="grid gap-4 mt-4">
            <h2>Your Fxs</h2>

            {% if user_fxs|length == 0 %}
                <div class="text-center">
                    <p class="">you haven't make any fxs yet</p>
                    <a href="{% url "procurement_form" %}" class="btn-small bg-primary w-fit">make fx's</a>
                </div>
            {% endif %}

            {% include "components/fx_form_chat.html" %}
        </div>

    </div>
</main>

<script>
    const currentUserEmail = "{{ request.user.email }}";
    const isUserStaff = "{{ request.user.is_staff }}" == 'True';
    const csrfToken = "{{ csrf_token }}";
    const staticUrl = "{% static '' %}";
</script>
<script src="{% static 'js/chat.js' %}" defer></script>


{% endblock body %}