{% extends "_base.html" %}

{% block head %}
<title>Create Account | Boren Import</title>
{% endblock %}

{% block body %}

<main class="pt-20 pb-32 bg-[url('/static/assets/register-login-bg.jpg')] ">
    <div class="w-11/12 max-w-[728px] pt-20 md:pt-24 pb-28 md:pb-32 px-6 md:px-[91px] rounded-3xl mx-auto bg-white ">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <legend class="form-legend">Welcome to Boren Imports</legend>
            <div>
                <div class="mb-8">
                    <label class="inline-block text-lg text-custom-gray-3 font-semibold mb-3" for="">Full Name <span
                            class="text-[#F50707]">*</span></label>
                    <input class="form-input" type="text" placeholder="Enter Full Name">
                </div>

                <div class="mb-8">
                    <label class="inline-block text-lg text-custom-gray-3 font-semibold mb-3" for="">Email <span
                            class="text-[#F50707]">*</span></label>
                    <input class="form-input" type="email" placeholder="Enter Email Address">
                </div>

                

                <div class="mb-8">
                    <label class="inline-block text-lg text-custom-gray-3 font-semibold mb-3" for="">Create Password <span
                            class="text-[#F50707]">*</span></label>
                    <input class="form-input" type="password" placeholder="Enter Password">
                </div>

                <div class="mb-8">
                    <label class="inline-block text-lg text-custom-gray-3 font-semibold mb-3" for="">Confirm Password <span
                            class="text-[#F50707]">*</span></label>
                    <input class="form-input" type="password" placeholder="Enter Confirm Password">
                </div>

                <div class="mb-4">
                    <button type="submit"
                        class="block mx-auto text-white rounded-[7px] bg-primary hover:bg-primary-dark active:ring-4 w-[300px] max-w-full py-3">Sign Up</button>
                </div>
            </div>
            <!-- {% for field in form %}
                <div class="fieldWrapper my-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %} -->
            <p class="fw-bold text-center mt-2 md:mt-[15px]">Already have an account? <a class="text-primary"
                    href="{% url 'register' %}" class="text-decoration-none">Log in</a></p>
        </form>
    </div>

</main>

{% endblock %}