{% load static %}
<nav class="container mx-auto bg-white border-gray-200">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-2 py-4 mx-auto">
        <a href="/" class="flex items-center">
            <img class="h-16 md:h-24" src="{% static 'assets/BOREN-IMPORTS-LOGO.png' %} " alt="Boren Import Logo" />
            <span
                class="self-center text-xl font-bold font-inter md:text-2xl whitespace-wrap text-primary-dark">BOREN
                <br>IMPORTS</span>
        </a>

        <button data-collapse-toggle="navbar-dropdown" type="button"
            class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
            aria-controls="navbar-dropdown" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
            <ul
                class="flex flex-col items-center p-4 mt-4 font-medium border border-gray-100 rounded-lg md:p-0 bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white">
                <li>
                    <a href="/" class="navlink" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="/about" class="navlink ">About Us</a>
                </li>
                <li>
                    <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                        class="flex items-center justify-between w-full navlink md:w-auto">
                        Services<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdownNavbar"
                        class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                        <ul class="py-2 text-sm 00" aria-labelledby="dropdownLargeButton">
                            <li>
                                <a href="{% url 'air_shipping' %}" class="block px-4 py-2 hover:bg-gray-100 hover:text-primary before:content-['>>'] uppercase">air shiping</a>
                            </li>
                            <li>
                                <a href="{% url 'fx_payment' %}" class="block px-4 py-2 hover:bg-gray-100 hover:text-primary before:content-['>>'] uppercase">fx payment</a>
                            </li>
                            <li>
                                <a href="{% url 'sea_shipping' %}" class="block px-4 py-2 hover:bg-gray-100 hover:text-primary before:content-['>>'] uppercase">sea shipping</a>
                            </li>
                            <li>
                                <a href="{% url 'goods_procurement' %}" class="block px-4 py-2 hover:bg-gray-100 hover:text-primary before:content-['>>'] uppercase">goods procurement</a>
                            </li>
                            <li>
                                <a href="{% url 'product_consultation' %}" class="block px-4 py-2 hover:bg-gray-100 hover:text-primary before:content-['>>'] uppercase">product consultation</a>
                            </li>
                            <li>
                                <a href="{% url 'product_sourcing' %}" class="block px-4 py-2 hover:bg-gray-100 hover:text-primary before:content-['>>'] uppercase">product sourcing</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="navlink ">Contact Us</a>
                </li>
                <li>
                    <a href="/pages/blog" class="navlink ">Blog</a>
                </li>
                <div class="md:flex gap-6">
                    <a href=" {% if user.is_authenticated %} {% url "logout" %} {% else %}  {% url "login" %} {% endif %}" type="button"
                        class="text-white bg-primary hover:bg-primary-dark focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-[5px] px-6 py-2 text-center"> {% if user.is_authenticated %}Logout {% else %} Login {% endif %}</a>
                    {% if not user.is_authenticated %}
                    <a href="{% url "register" %}" type="button"
                        class="text-primary border border-1 border-primary transition-all hover:bg-primary hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-[5px] px-6 py-2 text-center">Signup</a>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>
</nav>